# Formatted String

## Types and flags
<img src = "types.png">
<img src = "flags1.png">

In [4]:
# Get the following output

pi = 3.1416


'''
Right adjusted : 3.14                
Center adjusted:         3.14        
Left adjusted  :                 3.14
'''

'\n\nRight adjusted : 3.14                \nCenter adjusted:         3.14        \nLeft adjusted  :                 3.14\n'

## lists

## indexing and slicing

## Concatenation and deletion

## Nested lists

In [ ]:
# [ ] Write a program to count the number of odd numbers in `table`

table = [[5, 2, 6], [4, 6, 0], [9, 1, 8], [7, 3, 8]]
count = 0

## List membership (in keyword)

## List traversal

## List comprehension

In [ ]:
files = ['tempfile2151260.xlsx',
 'tempfile7317487.pdf',
 'tempfile5995039.txt',
 'tempfile8249372.png',
 'tempfile6929113.txt',
 'tempfile2163843.txt',
 'tempfile9541028.xlsx',
 'tempfile2245508.pdf',
 'tempfile2107854.xlsx',
 'tempfile1612080.pdf',
 'tempfile9849796.xlsx',
 'tempfile6287256.pdf',
 'tempfile2155128.pdf',
 'tempfile5147503.txt',
 'tempfile5572285.png',
 'tempfile8544477.png',
 'tempfile7999283.csv',
 'tempfile8203624.png',
 'tempfile3446330.csv',
 'tempfile7617171.pdf',
 'tempfile8714291.pdf',
 'tempfile5285791.xlsx',
 'tempfile2057221.png',
 'tempfile8517549.csv',
 'tempfile5135530.png',
 'tempfile3866615.csv',
 'tempfile9487322.txt',
 'tempfile4811300.png',
 'tempfile5683987.txt',
 'tempfile9348883.txt',
 'tempfile7222091.csv',
 'tempfile3093190.txt',
 'tempfile4792909.xlsx',
 'tempfile6008567.png',
 'tempfile2118350.xlsx',
 'tempfile9398077.xlsx',
 'tempfile9191208.xlsx',
 'tempfile8411022.csv',
 'tempfile5931444.pdf',
 'tempfile9144121.png',
 'tempfile2805282.xlsx',
 'tempfile8812934.pdf',
 'tempfile1921647.pdf',
 'tempfile6969852.txt',
 'tempfile9608900.csv',
 'tempfile5518816.csv',
 'tempfile4771687.txt',
 'tempfile1142296.pdf',
 'tempfile8458493.csv',
 'tempfile1272117.csv',
 'tempfile1608491.xlsx',
 'tempfile2506196.png',
 'tempfile2701014.png',
 'tempfile7935471.png',
 'tempfile1569528.xlsx',
 'tempfile9026396.pdf',
 'tempfile9722360.png',
 'tempfile4351233.xlsx',
 'tempfile3892635.png',
 'tempfile9504449.csv',
 'tempfile6053759.pdf',
 'tempfile6976396.png',
 'tempfile8047161.pdf',
 'tempfile1641126.txt',
 'tempfile1221666.xlsx',
 'tempfile7037072.pdf',
 'tempfile4622132.png',
 'tempfile7135431.xlsx',
 'tempfile4889444.png',
 'tempfile5221574.csv',
 'tempfile6766431.xlsx',
 'tempfile1118924.xlsx',
 'tempfile4351742.csv',
 'tempfile4557845.csv',
 'tempfile5091774.txt',
 'tempfile4152405.txt',
 'tempfile3463248.txt',
 'tempfile8203292.png',
 'tempfile7582061.txt',
 'tempfile3793864.xlsx',
 'tempfile1631804.csv',
 'tempfile2452880.txt',
 'tempfile3752163.xlsx',
 'tempfile1233823.txt',
 'tempfile5592726.csv',
 'tempfile4053860.csv',
 'tempfile2976433.txt',
 'tempfile5008276.csv',
 'tempfile3288884.txt',
 'tempfile1965850.pdf',
 'tempfile1797269.csv',
 'tempfile4768828.txt',
 'tempfile7259553.pdf',
 'tempfile7906324.png',
 'tempfile4517226.pdf',
 'tempfile5044632.csv',
 'tempfile2659176.pdf',
 'tempfile8147171.csv',
 'tempfile8391968.xlsx',
 'tempfile8654537.pdf']

In [ ]:
files

## List methods
### count, insert, append, index, remove, reverse, sort

In [ ]:
##Q1. build a custom list of non-negative integers specified by the user

## Generate 100 file names randomly

In [ ]:
ext = ['.txt', '.pdf', '.xlsx', '.csv', '.png']
from random import randint
from random import choice

In [ ]:
files = []
for x in range(1, 101):
    filename = 'tempfile' + str(randint(100, 1000)) + str(randint(1001, 10001))+choice(ext)
    files.append(filename)

# Tuples

In [3]:
t = tuple()

In [2]:
t = list()

In [1]:
##Q1. # [ ] The list `data` contains personnel information (Name, ID, email)
# Write a program using Python-style formatting to print out the data as follows:
'''
        Name         |     ID     |        Email        
________________________________________________________
    Suresh Datta     |   57394    |   suresh@example.com
  Colette Browning   |   48539    |  colette@example.com
     Skye Homsi      |   58302    |     skye@example.com
  Hiroto Yamaguchi   |   48502    |   hiroto@example.com
   Tobias Ledford    |   48291    |   tobias@example.com
       Jin Xu        |   48293    |      jin@example.com
     Joana Dias      |   23945    |    joana@example.com
    Alton Derosa     |   85823    |    alton@example.com
'''

data = [["Suresh Datta", 57394, "suresh@example.com"], ["Colette Browning", 48539, "colette@example.com"], ["Skye Homsi", 58302, "skye@example.com"], ["Hiroto Yamaguchi", 48502, "hiroto@example.com"], ["Tobias Ledford", 48291, "tobias@example.com"], ["Tamara Babic", 58201, "tamara@example.com"], ["Jin Xu", 48293, "jin@example.com"], ["Joana Dias", 23945, "joana@example.com"], ["Alton Derosa", 85823, "alton@example.com"]]

In [3]:
#Q. # Split a full name into the first and last names
def split_name(name):
    pass

name = split_name('Ashvani Kumar Dubey')
print('First name: {}'.format(name[0]))
print('Last name: {}'.format(name[1]))

TypeError: 'NoneType' object is not subscriptable

In [4]:
# [ ] Write a program to compute the average of the elements in T

T = (23, 45, 93, 59, 35, 58, 19, 3)

In [5]:
# [ ] The `records` list contains information about some company's employees
# each of the elements in `records` is a list containing the name and ID of an employee.
# Write a program that prompts the user for a name and return the ID of the employee if a record is found

records = [['Colette', 22347], ['Skye', 35803], ['Alton', 45825], ['Jin', 24213]]
name = input("Enter a name: ")
found = False

Enter a name: 5

In [6]:
# [ ] Complete the function `simple_stats` so it returns:
# 1) The maximum number in the tuple T
# 2) The minimum number in the tuple T
# 3) The average of the numbers in the tuple T

def simple_stats(T):
    #TODO: your code goes here
    pass

T = (257, 462, 18, 369, 415, 994, 541, 752, 78, 895, 0, 576, 40, 552, 438, 605, 54, 296, 433, 986, 685, 651, 523, 855, 777, 437, 65, 360, 265, 858, 260, 819, 586, 358, 860, 250, 531, 7, 801, 259, 155, 376, 374, 828, 475, 62, 52, 184, 186, 283, 643, 86, 472, 267, 692, 750, 948, 683, 452, 770, 322, 492, 871, 360, 88, 883, 764, 288, 383, 411, 679, 90, 857, 802, 974, 403, 798, 990, 475, 260, 289, 438, 873, 779, 895, 939, 462, 469, 183, 520, 366, 267, 896, 732, 303, 754, 195, 949, 546, 180)

In [3]:
# [ ] Use Python-style formatting and the string variables below to generate the following print outputs
# HINT: Set the name formatter width to 10 characters

first_name = 'Tamara'
last_name = 'Babic'

'''
Name: Tamara Babic
Name: Tamara          Babic
Name: Tamara____ _____Babic
Name: __Tamara__ __Babic___
Name: ____Tamara Babic_____
Name:     Tamara Babic     
'''

'\nName: Tamara Babic\nName: Tamara          Babic\nName: Tamara____ _____Babic\nName: __Tamara__ __Babic___\nName: ____Tamara Babic_____\nName:     Tamara Babic     \n'

## formatted output